@model BibliotekGruppProjekt.Models.Library.LibraryIndexModel;

<div id="books">
    <h3>All Books:</h3>
    <a asp-action="Available" class="btn btn-primary">Tillgängliga</a>
    <div id="booksTable">
        <table>
            <thead>
                <tr>
                    <th>Title: </th>
                    <th>Author: </th>
                    <th>Description: </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr class="bookrow">
                        @*<td class="loanrow">
                                <a asp-controller="Loan" asp-action=">Index" asp-route-id="@loan.ID">

                                </a>
                            </td>*@
                        <td><a asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">(Details)</a></td>
                        <td class="">@book.Title</td>
                        <td class="">@book.Author.Name</td>
                        <td class="">@book.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

