@model BibliotekGruppProjekt.Models.Member.MemberIndexModel
@{
    ViewBag.Title = "Member index";
}

<h3>@ViewBag.Title</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="memberIndex">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Profile Link</th>
                <th>Name</th>
                <th>PersonNr</th>
                <th>Overdue Fees</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var member in Model.Members)
            {
            <tr>
                <td><a asp-controller="Member" asp-action="Detail" asp-route-id="@member.ID">(Profile)</a></td>
                <td>@member.Name</td>
                <td>@member.PersonNr</td>
                @if (member.Fees == null || member.Fees == 0)
                {
                    <td class="success">No Fees Due.</td>
                }
                else
                {

                <td class="danger">@member.Fees</td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>