@model BibliotekGruppProjekt.Models.Loan.LoanIndexModel

<div id="loans">
    <h3>All Loans</h3>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div id="loansTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Member</th>
                    <th>Book</th>
                    <th>Checkout</th>
                    <th>Returned</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var loan in Model.Loans)
                {
                <tr class="loanrow">
                    @*<td class="loanrow">
                            <a asp-controller="Loan" asp-action=">Index" asp-route-id="@loan.ID">

                            </a>
                        </td>*@
                    <td><a asp-controller="Loan" asp-action="Detail" asp-route-id="@loan.ID">(Details)</a></td>
                    <td class="">@loan.Member.Name</td>
                    <td class="">@loan.BookCopy.Book.Title</td>
                    <td class="">@loan.Checkout</td>
                    @if(loan.Returned == null && loan.Delayed == true)
                    {
                    <td class="danger">Delayed. Fees Due: @loan.Fees kr</td>
                    }
                    else if (loan.Returned == null)
                    {
                    <td class="danger">Not Returned.</td>
                    }
                    else
                    {
                    <td class="success">Returned: @loan.Returned</td>
                    }
                    
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
