@model BibliotekGruppProjekt.Models.LoanCatalog.LoanIndexModel

<div id="loans">
    <h3></h3>
    <div id="loansTable">
        <table>
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Book</th>
                    <th>Checkout</th>
                    <th>Returned</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var loan in Model.Loans)
                {
                    <tr class="loanrow">
                        @*<td class="loanrow">
                            <a asp-controller="Loan" asp-action=">Index" asp-route-id="@loan.ID">

                            </a>
                        </td>*@
                        <td class="">@loan.Member.Name</td>
                        <td class="">@loan.Book.Title</td>
                        <td class="">@loan.Checkout</td>
                        <td class="">@loan.Returned</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
