@model BibliotekGruppProjekt.Models.Books.BookIndexModel;
<div id="books">
    <h3>All Books</h3>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <a asp-action="Available" class="btn btn-primary">Tillgängliga</a>
    <div id="booksTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr class="bookrow">
                        <td><a asp-controller="Book" asp-action="Detail" asp-route-id="@book.ID">(Details)</a></td>
                        <td class="">@book.Title</td>
                        <td class="">@book.Author.Name</td>
                        <td class="">@book.Description</td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@book.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
